body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
}

#main-header{
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;
}

#main-header ul {
    margin: 0;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

#main-header ul li a {
    color: #252525;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 25px;
}

a {
    cursor: pointer;
}

div{
    display: block;
}

.h2{
    background-color: black;
    color: white;
    text-align: center;
    width: 500px;
    margin: auto;
    font-size: 45px;
}

.h3{
    color: rgb(0, 0, 0);
    /* text-align: center; */
    width: 300px;
    margin: auto;
    font-size: 15px;
}

.frida{
    padding-top: 30px;
    padding-bottom: 30px;
}

.p{
    padding-right: 200px;
    padding-left: 200px;
    width: 500px;
    margin: auto;
    word-wrap: normal;
}

.body{
    padding: 0 0 30px;
    text-align: center;
}

#footer{
    background: #252525;
    color: white;
    margin: 0;
    padding: 35px;
}

/*for tablet size */
@media (max-width:768px) {
    #body{
        width: 768px;
    }
    
    #main-header{
        width: 768px;
        margin: 0;
    }

    .body div{
        width: 500px;
    }

    .h2{
        margin-left: 52px;
        text-align: center;
    }

    .body{
        margin-left: 80px;
        text-align: center;
    }

    #article .p{
        margin-left: 50px;
        padding: 0;
    }

    div{
        width: 500px;
        margin-right: 0;
    }
    
    /* Footer settings */
    #footer{
        width: 718px;
    }
    
    #footer p{
        text-align: center;
        margin: auto;
    }
    
}
    
    /* for phone size */
@media (max-width: 390px) {
    
}