body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

#main-header{
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;
}

#main-header ul {
    margin: 0;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

#main-header ul li a {
    color: #252525;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

#body #featured div {
    left: 50%;
    margin-left: -480px;
    margin-top: -251px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    width: 490px;
}

#body{
    /* border: 1px dotted black; */
}

#body-image{
    width: 100%;
}

span{
    background-color: rgb(84,32,132);
    color: white;
}

h2{
    background-color: white;
    width: 300px;
    margin-top: 50px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#featured span{
    display: flex;
    margin: 0 50px 25px 0px;
    font-size: 20px;
    align-items: baseline;
    padding: 20px;
}

#featured a{
    background-color: rgb(9,163,156);
    color: white;
    padding: 25px;
}

.more{
    padding-top: 20px;
    text-decoration: none;
}

#lower-images{
    display: flex;
    margin: 20px;
    gap: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
}

#lower-images img{
    width: 250px;
}

#lower-images h3{
    color: #252525;
}

.athlete{
    text-align: center;
    margin: auto;
}

.politician {
    text-align: center;
    margin: auto;
}

.gentleman{
    text-align: center;
    margin: auto;
}

#footer{
    background: #252525;
    color: white;
    margin: 0;
    padding: 35px;
}

/*for tablet size */
@media (max-width:768px) {
body{
    width: 768px;
}

#main-header{
    width: 768px;
    margin: 0;
    justify-content: center;
}

#lower-images{
    flex-direction: column;
    width: 758px;
    margin: 20px;
}

#footer{
    width: 718px;
}

#footer p{
    text-align: center;
    margin: auto;
}

#body #featured div {
    left: 40%;
    margin-left: -480px;
    margin-top: -224px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    width: 490px;
}
}

/* for phone size */
@media (max-width: 390px) {

    body{
        width: 390px;
    }

    #body #featured div {
        left: 40%;
        margin-left: -330px;
        margin-top: -51px;
        padding: 0 0 0 470px;
        position: absolute;
        top: 50%;
        text-align: left;
        width: 490px;
    }

}
