body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    border:2px solid green;
    max-width: 960px;
    width: 100%;
}
#main-header {}
#main-header  a{
    width: 100%;
}
#featured {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background-image: url('/images/ad.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#featured .image-text {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#featured .image-text h2{
    border: 1px solid blue;
    padding: 12px;
    background-color: #eee;
}
#featured .image-text span{
    padding: 12px;
    background-color: rgb(67, 36, 225);
    margin-bottom: 8px;
}
#featured .image-text a.more{
    background: #eee;
    padding: 20px;
    width: 100px;
    
}
#lower-images{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
@media (min-width:768px) {
    #lower-images{ 
        flex-direction: row;
        justify-content: space-around;
    }
}